# Base libraries
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1

# Machine learning
scikit-learn==1.5.1
xgboost==2.1.4
hyperopt==0.2.7

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
mplsoccer==1.5.0
shap==0.46.0

# Data
statsbombpy==1.16.0

# Jupyter
jupyter==1.1.1
ipython==8.31.0
